/* Basic Body Structure 
 * Nick colors from: http://www.flatuicolorpicker.com
 */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	word-wrap: break-word;
}

body {
	color: #DEDEDE; /* NeoZenburnesque: Foreground */
	height: 100%;
	z-index: 100;
	font-size: 12px;
	overflow: hidden;
	overflow-y: visible;
	background-color: #3f3f3f; /* NeoZenburnesque: Background */
	font-family: "Menlo-Regular";
}

#body_home {
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;
	max-height: 99.99%;
	position: absolute;
	opacity: 0; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

body[viewtype=channel] div#body_home {
	max-height: 96.5%;
}

.line {
	padding: 2px 5px 2px 5px;
	clear: both;
}

.sender {
	cursor: pointer;
	font-weight: 700;
}

body[dir=rtl] .sender {
	display: inline-block;
}

/* @end */

/* @group Misc */

#loading_screen {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -11px;
	margin-left: -150px;
	width: 300px;
	height: 21px;
	font-size: 18px;
	background: #EFEFEF; /* NeoZenburnesque: Current Line */
	border: 1px solid #D6D6D6; /* NeoZenburnesque: Selection */
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
	opacity: 1; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
	text-align: center;
}

.encryptionLock img {
	float: right;
	margin: 0;
	padding: 0;
	height: 11px;
	margin-top: 2px;
	padding-left: 10px;
}

html[systemversion^="10.9"] .inlineImageCell .closeButton,
html[systemversion^="10.8"] .inlineImageCell .closeButton {
	line-height: 13px;
}

/* @end */

/* @group Time */

.time {
	color: #C5C8C6; /* NeoZenburnesque Night: Foreground */
	white-space: nowrap;
}

body[dir=rtl] .time {
	padding-left: 0.4em;
	display: inline-block;
}

/* @end */

/* @group Links */

a {
	color: #0080FF; /* NeoZenburnesque: Blue */
	border-color: #0080FF; /* NeoZenburnesque: Blue */
	text-decoration: none;
	border-bottom: dotted 1px;
}

a:hover {
	color: #22c0ff; /* NeoZenburnesque: Purple */
	border-color: #22c0ff; /* NeoZenburnesque: Purple */
}

/* @end */

/* @group Topic Bar */

#topic_bar {
	top: 0;
	left: 0;
	right: 0;
	z-index: 400;
	opacity: 0; /* Set by JavaScript */
	color: #6f6f6f; /* NeoZenburnesque */
	position: fixed;
	padding: 2px 0.5em 3px;
	background-color: #1e2320; /* NeoZenburnesque */
	-webkit-transition: opacity 0.8s linear;
	-webkit-font-smoothing: subpixel-antialiased;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Topic bar hover additions contributed with permission from the project:
 * https://github.com/hbang/Simplified-Light-Modifications
 */

#topic_bar:hover {
	overflow: visible;
	white-space: normal;
}

/* @end */

/* @group Images */

.inlineImageCell {
	overflow: auto;
	display: block;
	margin-top: 5px;
	margin-bottom: 2px;
}

.inlineImageCell .image {
	display: inline-block;
	float: left;
	margin-right: 15px;
	margin-left: 10px;
	min-width: 40px;
	max-width: 90%;
}

.inlineImageCell .closeButton {
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid #a1a1a1;
	color: #a1a1a1;
	display: inline-block;
	line-height: 14px;
	font-size: 15px;
	font-family: "Menlo-Regular" !important;
	text-indent: 7px;
	width: 16px;
	height: 16px;
	float: left;
	padding-right: 7px;
	padding-left: 0px;
}

/* @end */

/* @group Separating History */

div[id=mark] {
	clear: both;
	position: relative;
	z-index: 295;
	margin-top: -1px;
	border-bottom: 1px dashed;
	border-color: #C82829; /* NeoZenburnesque: Red */
	-webkit-transition: 0.2s linear;
}

.historic {
	opacity: 0.6;
}

/* @end */

/* @group NOTICE / CTCP / WALLOPS */

.line[ltype*=ctcp],
.line[ltype*=notice],
.line[ltype*=wallops] {
	color: #EAB700; /* NeoZenburnesque: Yellow */
	z-index: 191;
	background-color: rgba(255, 238, 173, 0.25); /* NeoZenburnesque NeoZenburnesqueBlue: Yellow 25% */
	position: relative;
}

/* @end */

/* @group Selected User */

.line[ltype*=privmsg]:not(.selectedUser),
.line[ltype*=action]:not(.selectedUser) {
	transition: background-color 0.5s;
}

.line.selectedUser[highlight=false] {
	transition: background-color 0.5s;
	z-index: 190;
	position: relative;
	background-color: #6C7A89 !important; /* NeoZenburnesque NeoZenburnesqueBlue: Lynch */
}

/* @end */

/* @group PRIVMSG */

.line[ltype*=privmsg][highlight=true],
.line[ltype*=action][highlight=true] {
	z-index: 191;
	position: relative;
	font-weight: normal;
	background-color: #6C7A89 !important; /* NeoZenburnesque NeoZenburnesqueBlue: Lynch */
}

div[ltype*=privmsg] .sender {
	white-space: pre-wrap;
}

/* @end */

/* @group ACTION */

div[ltype*=action] .sender:before {
	content: "•";
}

body[dir=ltr] div[ltype*=action] .sender:before {
	margin-right: 0.4em;
}

body[dir=rtl] div[ltype*=action] .sender:before {
	margin-left: 0.4em;
}

div[ltype*=action] .sender:after {
	content: "";
}

/* @end */

/* @group DEBUG / INVITE */

.line[ltype*=invite],
.line[ltype*=debug],
.line[ltype*=rawhtml],
.line[ltype*=dccfiletransfer] {
	color: #C5C8C6; /* NeoZenburnesque Night: Foreground */
	z-index: 190;
	background: rgba(214, 214, 214, 0.25); /* NeoZenburnesque: Selection 25% */
	position: relative;
}

/* @end */

/* @group Message of the Day (MOTD)
 *
 * 720, 721, 722 are used by ShadowIRCd for Oper MOTD.
 * 372, 375, 376 are normal MOTD shared by several IRCds.
 */

.line[command="372"],
.line[command="721"] {
	padding-top: 3px;
	padding-bottom: 3px;
}

.line[command="375"],
.line[command="720"] { /* Start. */
	padding-top: 2px;
	padding-bottom: 3px;
}

.line[command="376"],
.line[command="722"] { /* End. */
	padding-top: 3px;
	padding-bottom: 3px;
}

.line[command="372"] .message,
.line[command="375"] .message,
.line[command="376"] .message
.line[command="720"] .message,
.line[command="721"] .message,
.line[command="722"] .message {
	font-family: "Menlo-Regular" !important;
}

/* @end */

/* @group General Events */

.line[ltype*=join],
.line[ltype*=part],
.line[ltype*=quit],
.line[ltype*=nick],
.line[ltype*=mode],
.line[ltype*=topic],
.line[ltype*=website] {
	color: #C5C8C6; /* NeoZenburnesque Night: Foreground */
}

/* Slightly more interesting events */
.line[ltype*=kick],
.line[ltype*=kill],
.line[ltype*=mode][command=mode] {
	color: #8E908C; /* NeoZenburnesque: Comment */
}

/* @group Event Indicators */

div[ltype*=join] .message:before {
	content: "→";
	color: #718C00; /* NeoZenburnesque: Green */
}

div[ltype*=kick] .message:before,
div[ltype*=part] .message:before,
div[ltype*=quit] .message:before {
	content: "←";
	color: #C82829; /* NeoZenburnesque: Red */
}

div[ltype*=nick] .message:before {
	content:"◦";
	color: #3E999F; /* NeoZenburnesque: Aqua */
}

/* @end */

/* @group Own Messages */

.sender[mtype*=myself] {
	color: #19B5FE; /* NeoZenburnesque: Dodger Blue */
}

div[mtype*=myself] {
	background-color: #34495E; /* NeoZenburnesque: Pickled BlueWood */
}

/* @end */

/* @group Nickname Colors */

.sender[mtype*=normal][colornumber='0'],
.inline_nickname[colornumber='0'] {
	color: #F22613; /* NeoZenburnesque: Chestnut Rose */
}

.sender[mtype*=normal][colornumber='1'],
.inline_nickname[colornumber='1'] {
	color: #D64541; /* NeoZenburnesque: Valencia */
}

.sender[mtype*=normal][colornumber='2'],
.inline_nickname[colornumber='2'] {
	color: #F64747; /* NeoZenburnesque: Sunset Orange */
}

.sender[mtype*=normal][colornumber='3'],
.inline_nickname[colornumber='3'] {
	color: #E26A6A; /* NeoZenburnesque: Sunglo */
}

.sender[mtype*=normal][colornumber='4'],
.inline_nickname[colornumber='4'] {
	color: #BF55EC; /* NeoZenburnesque: Medium Purple */
}

.sender[mtype*=normal][colornumber='5'],
.inline_nickname[colornumber='5'] {
	color: #9B59B6; /* NeoZenburnesque: Wisteria */
}

.sender[mtype*=normal][colornumber='6'],
.inline_nickname[colornumber='6'] {
	color: #81CFE0; /* NeoZenburnesque: Spray */
}

.sender[mtype*=normal][colornumber='7'],
.inline_nickname[colornumber='7'] {
	color: #1E8BC3; /* NeoZenburnesque: Curious Blue */
}

.sender[mtype*=normal][colornumber='8'],
.inline_nickname[colornumber='8'] {
	color: #A2DED0; /* NeoZenburnesque: Aqua Island */
}

.sender[mtype*=normal][colornumber='9'],
.inline_nickname[colornumber='9'] {
	color: #68C3A3; /* NeoZenburnesque: Silver Tree */
}

.sender[mtype*=normal][colornumber='10'],
.inline_nickname[colornumber='10'] {
	color: #36D7B7; /* NeoZenburnesque: Turquoise */
}

.sender[mtype*=normal][colornumber='11'],
.inline_nickname[colornumber='11'] {
	color: #C8F7C5; /* NeoZenburnesque: Madang */
}

.sender[mtype*=normal][colornumber='12'],
.inline_nickname[colornumber='12'] {
	color: #F89406; /* NeoZenburnesque: California */
}

.sender[mtype*=normal][colornumber='12'],
.inline_nickname[colornumber='12'] {
	color: #F9BF3B; /* NeoZenburnesque: SandStorm */
}

.sender[mtype*=normal][colornumber='13'],
.inline_nickname[colornumber='13'] {
	color: #D91E18; /* NeoZenburnesque: Thunderbird */
}

.sender[mtype*=normal][colornumber='14'],
.inline_nickname[colornumber='14'] {
	color: #F62459; /* NeoZenburnesque: Radical Red */
}

.sender[mtype*=normal][colornumber='15'],
.inline_nickname[colornumber='15'] {
	color: #D2527F; /* NeoZenburnesque: Cabaret */
}

.sender[mtype*=normal][colornumber='16'],
.inline_nickname[colornumber='16'] {
	color: #2ECC71; /* NeoZenburnesque: Shamrock */
}

.sender[mtype*=normal][colornumber='17'],
.inline_nickname[colornumber='17'] {
	color: #F2784B; /* NeoZenburnesque: Crusta */
}

.sender[mtype*=normal][colornumber='18'],
.inline_nickname[colornumber='18'] {
	color: #D35400; /* NeoZenburnesque: Burnt Orange */
}

.sender[mtype*=normal][colornumber='19'],
.inline_nickname[colornumber='19'] {
	color: #BE90D4; /* NeoZenburnesque: Light Wisteria */
}

.sender[mtype*=normal][colornumber='20'],
.inline_nickname[colornumber='20'] {
	color: #C5EFF7; /* NeoZenburnesque: Humming Bird */
}

.sender[mtype*=normal][colornumber='21'],
.inline_nickname[colornumber='21'] {
	color: #87D37C; /* NeoZenburnesque: Gossib */
}

.sender[mtype*=normal][colornumber='22'],
.inline_nickname[colornumber='22'] {
	color: #FDE3A7; /* NeoZenburnesque: Cape Honey */
}

.sender[mtype*=normal][colornumber='23'],
.inline_nickname[colornumber='23'] {
	color: #95A5A6; /* NeoZenburnesque: Cascade */
}

.sender[mtype*=normal][colornumber='24'],
.inline_nickname[colornumber='24'] {
	color: #F22613; /* NeoZenburnesque: Pomegranate */
}

/* @end */

/* @group mIRC Color Codes */

/* @group Foreground Colors */

.effect[color-number='0'] {
	color: #D6D6D6 !important; /* Selection */
}

.effect[color-number='1'] {
	color: #4D4D4C !important; /* Foreground */
}

.effect[color-number='2'] {
	color: #4271AE !important; /* Blue */
}

.effect[color-number='3'] {
	color: #718C00 !important; /* Green */
}

.effect[color-number='4'] {
	color: #C82829 !important; /* Red */
}

.effect[color-number='5'] {
	color: #DE935F !important; /* Red */
}

.effect[color-number='6'] {
	color: #8959A8 !important; /* Purple */
}

.effect[color-number='7'] {
	color: #F5871F !important; /* Orange */
}

.effect[color-number='8'] {
	color: #EAB700 !important; /* Yellow */
}

.effect[color-number='9'] {
	color: #B9CA4A !important; /* Green */
}

.effect[color-number='10'] {
	color: #3E999F !important; /* Aqua */
}

.effect[color-number='11'] {
	color: #66CCCC !important; /* Aqua */
}

.effect[color-number='12'] {
	color: #7AA6DA !important; /* Blue */
}

.effect[color-number='13'] {
	color: #C397D8 !important; /* Purple */
}

.effect[color-number='14'] {
	color: #8E908C !important; /* Comment */
}

.effect[color-number='15'] {
	color: #C5C8C6 !important; /* Foreground */
}

/* @end */

/* @group Background Colors */

.effect[bgcolor-number='0'] {
	background-color: #D6D6D6 !important; /* Selection */
}

.effect[bgcolor-number='1'] {
	background-color: #4D4D4C !important; /* Foreground */
}

.effect[bgcolor-number='2'] {
	background-color: #4271AE !important; /* Blue */
}

.effect[bgcolor-number='3'] {
	background-color: #718C00 !important; /* Green */
}

.effect[bgcolor-number='4'] {
	background-color: #C82829 !important; /* Red */
}

.effect[bgcolor-number='5'] {
	background-color: #DE935F !important; /* Red */
}

.effect[bgcolor-number='6'] {
	background-color: #8959A8 !important; /* Purple */
}

.effect[bgcolor-number='7'] {
	background-color: #F5871F !important; /* Orange */
}

.effect[bgcolor-number='8'] {
	background-color: #EAB700 !important; /* Yellow */
}

.effect[bgcolor-number='9'] {
	background-color: #B9CA4A !important; /* Green */
}

.effect[bgcolor-number='10'] {
	background-color: #3E999F !important; /* Aqua */
}

.effect[bgcolor-number='11'] {
	background-color: #66CCCC !important; /* Aqua */
}

.effect[bgcolor-number='12'] {
	background-color: #7AA6DA !important; /* Blue */
}

.effect[bgcolor-number='13'] {
	background-color: #C397D8 !important; /* Purple */
}

.effect[bgcolor-number='14'] {
	background-color: #8E908C !important; /* Comment */
}

.effect[bgcolor-number='15'] {
	background-color: #C5C8C6 !important; /* Foreground */
}

/* @end */